{% extends 'base.html' %}
{% load static %}

{% block title %} Login | Clover Network {% endblock %}

{% block tags %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block header %} Login {% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card text-center login">
            <h3>Login</h3>
            <form action="login" method="post">
                {% csrf_token %}
                <input type="text" placeholder="Username" name="username" required>
                <input class="mt-3" type="password" placeholder="Password" name="password" required>

                <button type="submit" class="submit mt-3 btn btn-primary btn-block">Login</button>
            </form>
        </div>
        <div class="btns mt-3">
            <div class="row">
                <div class="col-md-6">
                    <a href="{% url 'register' %}" class="btn btn-danger btn-block">Register</a>
                </div>
                <div class="col-md-6">
                    <a href="#" class="btn btn-ter btn-block">Forgot Password</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}