{% extends 'base.html' %}
{% load static %}

{% block tags %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
{% endblock %}

{% block title %} Graphs | Clover Network {% endblock %}

{% block content %}

<div id="container" class="card" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
[ {% for entry in data %} [ {{entry.time}}, 1 ] {% if not forloop.last %}, {% endif %} {% endfor %} ]

<script>
Highcharts.getJSON(
  'https://cdn.jsdelivr.net/gh/highcharts/highcharts@v7.0.0/samples/data/usdeur.json',
  function (data) {
    Highcharts.chart('container', {
      chart: {
        zoomType: 'x'
      },
      title: {
        text: 'Player count for {{ip}}'
      },
      subtitle: {
        text: document.ontouchstart === undefined ?
          'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
      },
      xAxis: {
        type: 'datetime'
      },
      yAxis: {
        title: {
          text: 'Player Count'
        }
      },
      legend: {
        enabled: true
      },
      plotOptions: {
        area: {
          fillColor: {
            linearGradient: {
              x1: 0,
              y1: 0,
              x2: 0,
              y2: 1
            },
            stops: [
              [0, Highcharts.getOptions().colors[0]],
              [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
            ]
          },
          marker: {
            radius: 2
          },
          lineWidth: 1,
          states: {
            hover: {
              lineWidth: 1
            }
          },
          threshold: null
        }
      },

      series: [{
        type: 'area',
        name: '{{ip}}',
        data: [
            [ {% for entry in data %} [ {{entry.time}}, {{forloop.counter}} ] {% if not forloop.last %}, {% endif %} {% endfor %} ]
        ]
      }]
    });
  }
);
</script>

{% endblock %}